.navContainer {
  height: 100px;
  grid-area: h;
  font-size: 24px;
  display: flex;
  width: 1280px;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  @media (max-width: 1280px) {
    font-size: 20px;
    width: 1000px;
  }
  @media (max-width: 1000px) {
    width: 800px;
  }
  @media (max-width: 768px) {
    width: 600px;
    border-radius: 0 0 15px 15px;
  }
  @media (max-width: 600px) {
    width: 400px;
    height: 80px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  @media (max-width: 400px) {
    width: 300px;
  }
  h1 {
    font-size: 24px;
    padding-left: 15px;
    font-weight: 600;
    color: #222;
    transition: 0.3s;
    @media (max-width: 600px) {
      font-size: 20px;
      padding-left: 0;
    }
  }
  h1:hover {
    opacity: 0.7;
  }
}
.navbar {
  display: flex;
  align-items: center;
  .basketImage {
    filter: invert(33%) sepia(2%) saturate(29%) hue-rotate(3deg) brightness(88%)
      contrast(80%);
    transition: 0.3s;
    width: 30px;
    padding: 0 15px 10px 0;
    cursor: pointer;
    @media (max-width: 600px) {
      width: 25px;
      padding: 0;
    }
  }
  .basketImage:hover {
    opacity: 0.5;
  }
  span {
    margin-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  span:hover {
    opacity: 0.5;
  }
}
