@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
  input {
    border: none;
    outline: none;
    font-family: 'Montserrat';
  }
  button {
    font-family: 'Montserrat';
  }
}
body {
  overflow-x: hidden;
  overflow: overlay;
  color: #222;
  font-family: 'Montserrat';
  font-weight: 300;
  background-image: url('./../public/images/back.jpg');
  background-attachment: fixed;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(31, 31, 31, 0.8);
  border-radius: 4px;
}